@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-2">
    <h1 class="text-black">Products</h1>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <img src="./imgs/tv.jpg" class="card-img-top zoom" alt="...">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="Category" class="btn btn-primary">Go To Product Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <img src="./imgs/LT.jpg" class="card-img-top mt-4 zoom" alt="...">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="Category" class="btn btn-primary mt-3">Go To Product Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
               <img src="./imgs/mb.jpg" class="card-img-top mt-5 zoom" alt="...">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="Category" class="btn btn-primary mt-5">Go To Product Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <img src="./imgs/sw.jpg" class="card-img-top mt-2 zoom" alt="...">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="Category" class="btn btn-primary mb-2">Go To Product Details</a>
                </div>
            </div>
        </div>
    </div>

 </div>

