@model Category

<form method="post" asp-action="Delete" >
     <input asp-for="Id" hidden />
    <div class="border p-3 mt-4 w-50" style="margin-left:25%">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Product</h2>
            <hr />
        </div>
       @* <div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="ProductCode"></label>
            <input asp-for="ProductCode" disabled class=form-control />
        </div>
        <div class="mb-3">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" disabled class=form-control />
        </div>
        <div class="mb-3">
            <label asp-for="Manufacturer"></label>
            <input asp-for="Manufacturer" disabled class=form-control />
        </div>
        <div class="mb-3">
            <label asp-for="ShippingNo"></label>
            <input asp-for="ShippingNo" disabled class=form-control />
        </div>
         <div class="mb-3">
            <label asp-for="RetailPrice"></label>
            <input asp-for="RetailPrice" disabled class=form-control />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width: 150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts{
@{
   <partial name="_ValidationScriptsPartial" />
}
}